<h1 class='mb-4'>Booking list</h1>

<% if @bookings.length > 0 %>
  <% @bookings.each do | booking | %>
    <div class="card mb-2">
      <div class="card-body d-flex justify-content-between">
        <h4 class="card-title fw-bold flex-column">From: <%= booking.land_periode.starts_the.strftime('%a %d %b %Y') %></h4>
        <h4 class="card-title fw-bold flex-column">To: <%= booking.land_periode.ends_the.strftime('%a %d %b %Y') %></h4>
        <h4 class="card-title "><%= booking.land_periode.land.name %></h4>
        <h4 class="card-title "><%= booking.land_periode.land.user.name %></h4>
        <h4 class="card-title fw-bold">Status: <%= booking.status %></h4>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You don't have bookings yet ...</p>
<% end %>
