<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class='me-md-4'>
          <%= link_to 'list of lands for rent', lands_path, class:'nav-link'%>
          </li>
          <li class='me-md-4'>
          <%= link_to 'My bookings', bookings_path, class:'nav-link'%>
          </li>
          <% unless current_user.land ? true : false %>
          <li>
          <%= button_to "Rent your Land", lands_select_path, method: :get, class:'btn btn-primary btn-md px-4 me-md-4' %>
          </li>
          <% else %>

          <li class='me-md-4'>

            <button id="custom-btn" type="button" class="btn position-relative nav-link">
              <%= link_to 'My land', land_path(current_user.land.id), method: :get, class:'btn btn-primary' %>
              <% if @notification %>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                <%= @notification %>
                <span class="visually-hidden">unread messages</span>
              </span>
              <% end %>
            </button>
          </li>





          <% end %>
          <li class='nav-link me-md-4'>
            <%= current_user.name %>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
